<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Handwritten Digit Recognition using Convolutional Neural Networks</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>	
</head>

<body>
	<div class="content">
		<h1 class="header">Greek Characters used in Mathematics Recognition using <a target="_blank" href="https://github.com/mrudulpatil18/greekGlyphScribe/blob/main/Classification.ipynb">Convolutional Neural Networks  </a></h1>

		<div class="main">
		<div class="input">
			<canvas id="canvas" width="32" height="32"></canvas>
			<div class="buttons">
				<input type="button" class="myButton" value="Predict" style="">
				<input type="button" id="clearButton" value="Clear" style="">
			</div>
		</div>


		<div class="result">
			<h4>Draw in Canvas</h4>
			
		</div>
		</div>
		
		<div class="footer">
       		<a href="https://github.com/mrudulpatil18" target="_blank"><img src="../static/icons8-github.svg" alt="github logo" height="30px"> <h8>mrudulpatil18</h8></a>
    	</div>
	</div>
	    <script src="{{url_for('static',filename= 'js/index.js')}}" type="module"></script>
		
</body>
</html>

